@font-face {
  font-family: 'Domestic';
  src: url(/fonts/domestic.otf);
  font-weight: normal;
}

body {
  background-image: url("/images/background.jpg");
  background-attachment: fixed;
  width: auto;
}

#wrapper {
  width: 800px;
  height: 500px;
  margin: auto;
  margin-top: 8em;
  background-attachment: fixed;
  background-color: rgba(255, 255, 255, 0.80);
  text-align: center;
  padding: 30px;
  font-family: 'Lato', 'Helvetica', sans-serif;
}

#wrapper h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 3.5em;
}

#wrapper p {
  padding: 20px;
  font-size: 1.0em;
  color: #606060;
}

#portrait {
  padding-top: 50px;
  margin: auto;
}

#intro {
  font-family: 'Domestic','serif';
}