.splash {
  display: flex;
  align-items: center;
}

.splash span {
  flex-grow: 1;
}

.banner {
  font-family: 'Cutive Mono', monospace;
  text-transform: lowercase;
  width: 800px;
  text-align: left;
}

.frontnav {
  display: flex;
  align-items: left;
  text-align: left;
}

.frontnav ul {
  font-family: 'Cutive Mono', monospace;
  list-style: none;
  margin-left: -20px;
}

.frontnav li {
  display: inline-block;
  margin-left: -20px;
  margin-right: 50px;
}

.frontnav li a {
  color: black;
  text-decoration: none;
}

.frontnav li a:hover {
  color: white;
  background-color: crimson;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  margin: auto;
  width: 800px;
  height: 100px;
  text-align: right;
}

.nav h1 {
  font-family: 'Cutive Mono', monospace;
  text-transform: lowercase;
}

.nav h1 a {
  color: black;
  text-decoration: none;
}

.nav span {
  flex-grow: 1;
}

.nav ul {
  font-family: 'Cutive Mono', monospace;
  list-style: none;
  padding-left: 0px;
}

.nav li {
  display: inline-block;
  align-content: space-between;
  letter-spacing: 0.1em;
  margin-left: 20px;
}

.nav li a {
  color: black;
  text-decoration: none;
}

.nav li a:hover {
  color: white;
  background-color: crimson;
  text-decoration: underline;
}

.content {
  width: 600px;
  margin: auto;
}

.content h1 {
  font-size: 1.4em;
  font-family: 'Cutive Mono', monospace;
  text-transform: lowercase;
}

.content h3 {
  font-size: 1em;
  font-family: 'Cutive Mono', monospace;
  text-transform: lowercase;
}

.content p {
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Cutive Mono', monospace;
  font-size: 0.85em;
  line-height: 1.5;
}

.content ol {
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Cutive Mono', monospace;
  font-size: 0.85em;
  line-height: 1.5;
}

.content a {
  color: orangered;
  text-decoration: none;
}

.content a:hover {
  color: crimson;
  text-decoration: underline;
}

.photo {
  display: block;
  width: 100%;
  margin: auto;
  pointer-events: none;
}

.portrait {
  display: block;
  width: 20%;
  margin: auto;
  pointer-events: none;
}

.content hr {
  border-style: solid;
  color: lightgrey;
}

.socialmedia {
  display: flex;
  width: 800px;
  margin: auto;
  align-items: left;
}

.socialmedia span {
  flex-grow: 1;
}

.socialmedia ul {
  list-style: none;
  padding-left: 0px;
}

.socialmedia li {
  display: inline-block;
  text-align: center;
  width: 2em;
  font-size: 1.5em;
  margin-left: 5px;
  margin-right: 5px;
}

.socialmedia a {
  color: black;
  text-decoration: none;
}

.socialmedia a:hover {
  color: white;
  background-color: crimson;
}

.arena {
  margin-left: 0.5em;
  margin-bottom: 2px;
  width: 1em;
  height: 0.6em;
  background: url(/images/aredotna.svg) no-repeat;
}

.arena:hover {
  background: url(/images/inv_aredotna.svg) no-repeat;
  background-color: crimson;
}